<footer class="bg-black text-white text-center text-lg-start shadow-lg">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <span>© 2024 Football Stories - Created by Robertino Lirusso</span>
  </div>
  <div class="text-center p-2">
    <a href="https://github.com/RobertinoLirusso" target="_blank" class="text-white me-3">
      <i class="bi bi-github fs-4"></i>
    </a>
    <a href="https://www.linkedin.com/in/robertino-lirusso-2a1033288/" target="_blank" class="text-white">
      <i class="bi bi-linkedin fs-4"></i>
    </a>
  </div>
</footer>