.audio-player {
  max-width: 400px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.song-name {
  max-width: 200px;
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}


@media (max-width: 576px) {
  .audio-player {
    max-width: 95% !important; 
    margin: 10px;
  }

  .song-name {
    max-width: 180px; /* Permite más espacio en pantallas pequeñas */
  }

  .audio-player .d-flex {
    flex-direction: column; 
    align-items: center;    
  }

  .audio-player .btn {
    font-size: 0.8rem; 
    padding: 5px;    
  }

  .audio-player .small {
    font-size: 0.75rem; 
  }

  .audio-player span {
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

  .audio-player .flex-grow-1 {
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}
