<div class="d-flex flex-column min-vh-100 bg-body-tertiary">
  <app-navbar></app-navbar>

  <div *ngIf="story" class="container-fluid mt-4 mb-3 px-5 flex-grow-1">
    <article class="blog-post">
      <p class="h2 fw-semibold text-center mb-3">{{ story.title }}</p>
      <figure class="figure text-center">
        <img [src]="story.article_photo" alt="Story Image" class="figure-img img-thumbnail img-fluid mb-2 mx-auto d-block shadow" loading="lazy">
        <figcaption class="figure-caption mb-3 fst-italic text-center">{{story.article_photo_caption}}.</figcaption>
      </figure>
      <p class="lead lh-base mt-3 text-justify">{{ story.description }}</p>
      <p class="text-end"><small class="text-muted">{{ story.date }}</small></p>
      <div class="d-flex justify-content-center">
        <a routerLink="/" class="btn btn-dark mt-3 mb-2 btn-outline-light btn-sm">Go back</a>
      </div>
    </article>
  </div>

  <div *ngIf="!story" class="container mt-5 flex-grow-1">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p class="text-center mt-3">Loading story...</p>
  </div>

  <app-footer></app-footer>
</div>
