<div class="d-flex flex-column min-vh-100 bg-body-tertiary index">
    <app-navbar></app-navbar>
    
    
    <div class="container-fluid p-5 shadow bg-light position-relative" 
    style="background: url('https://motionbgs.com/media/2005/lionel-messi-fifa-2023.jpg') no-repeat center center; 
           background-size: cover; min-height: 250px;">
  
    <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);"></div>
  
    <div class="row align-items-center justify-content-center position-relative text-white text-center" 
         style="min-height: 250px;">
      <div class="col-md-8">
        <h2 class="display-4 fw-bold">Welcome to Football Stories</h2>
        <p class="lead">
          This page compiles simple yet meaningful football stories that deserve to be told—stories that every lover of the world's greatest sport should know
        </p> 
      </div>
    </div>
  </div>
  

    <div class="container mt-5">
      <h2 class="text-center text-dark mb-3">Explore Stories</h2>
    </div>
  
    <div class="card-container p-4 mb-4" *ngIf="stories">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col" *ngFor="let story of stories">
          <div class="card h-100 card-hover shadow">
            <img src="{{story.cover_photo}}" class="card-img-top img-fixed" alt="cover_photo">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">{{story.title}}</h5>
                <p class="card-text">{{ story.description | slice:0:100 }}...</p>
                <div class="d-flex">
                <p class="card-text me-2"><span class="badge text-bg-dark"><small class="text-white">{{story.date}}</small></span></p>
                <p class="card-text">
                  <span 
                    class="badge rounded-pill"
                    [ngClass]="getBadgeClass(story.category)">
                    <small class="text-white">{{ story.category | titlecase }}</small>
                  </span>
                </p>                
                </div>
              <a [routerLink]="['/story', story.id]" class="btn btn-dark mt-2 btn btn-outline-light">Read More</a>
            </div>
          </div>
        </div>
      </div>
      
        <ng-template *ngIf="!stories">
          <p class="text-center">Loading stories...</p>
        </ng-template>
      </div>
      
      <app-footer></app-footer>
</div>
