<div class="d-flex flex-column min-vh-100">
  <app-navbar></app-navbar>

  <div class="d-flex flex-grow-1 flex-column justify-content-center text-center">
    <div class="container">
      <h1 class="display-1 text-info">404</h1>
      <h3 class="text-muted mb-4">Page Not Found</h3>
           <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3YzY3hndTRtdGFkdXd1czgxNHJncWVyMzh3eXlsczJ1ZzY3Z3NsMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/W8ZIOFgJmfOoesxEjb/giphy.gif" 
           alt="VAR decision" 
           class="img-fluid my-3 mx-auto d-block" 
           style="max-width:300px;">
      <p class="lead">
        Oops! The VAR reviewed the match and ruled that this page is offside.
      </p>
      <a routerLink="/" class="btn btn-dark btn-lg mt-4 mb-3">Go Home</a>
    </div>
  </div>

  <app-footer></app-footer>
</div>
